html
  head
    style.
      table, th, td {
        border: 1px solid black;
      }

  body
    form(class='form-signin', action='/report', method='POST')
      select(name="year")
        option(value='2013') 2013
        option(value='2014') 2014
        option(value='2015') 2015
      select(name="month")
        option(value='January') January
        option(value='February') February
        option(value='March') March
        option(value='April') April
        option(value='May') May
        option(value='June') June
        option(value='July') July
        option(value='Augustus') Augustus
        option(value='September') September
        option(value='October') October
        option(value='November') November
        option(value='December') December
      p Commission: 
        input(placeholder="%", name="commission")
      button(type='submit') Submit!
  if report 
    if report.bookings == 0
      h1 No report available for this month
    else   
      table
        tr
          th Month
          th Bookings
          th Bookers
          th Revenue
          th Commission
          th Profit
          th AVG revenue per booking
          th AVG profit per booking
        tr
          each date in report 
              td=date
  else
