html
  head
    style.
      table, th, td {
        border: 1px solid black;
      }

  body
    form(class='form-signin', action='/signup', method='POST')
      select
        option(value='2013') 2013
        option(value='2014') 2014
        option(value='2015') 2015
      select
        option(value='January') January
        option(value='February') February
        option(value='March') March
        option(value='April') April
        option(value='May') May
        option(value='June') June
        option(value='July') July
        option(value='Augustus') Augustus
        option(value='September') September
        option(value='October') October
        option(value='November') November
        option(value='December') December
      button(type='submit') Submit!
    
    table
      tr
        th Month
        th Bookings
        th Bookers
        th Revenue
        th Profit
        th AVG Revenue per booking
        th AVG Profit per bookings
      tr
        each date in report 
          td=date